.swiper {
  width: 30rem;
  height: 35rem;
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    // img {
    //   object-fit: cover;
    //   width: 100%;
    //   height: 100%;
    // }
  }
  .swiper-wrapper {
    width: 240px;
  }
}
