.footer {
  background-color: black;
  min-height: 60vh;
  font-size: 2.5rem;
  text-align: center;

  padding-top: 5rem;
  .nav {
    display: flex;
    justify-content: center;
  }
  #contact {
    font-size: 25px;
  }
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 20px;
    &:after {
      background-color: #fff;
      content: "";
      display: flex;
      flex-direction: column;
      height: 4px;
      margin-right: 10px;
      margin-bottom: 5px;
      transition: all 0.42s cubic-bezier(0.5, 0.8, 0.25, 1);
      width: 0;
    }
    &:hover:after {
      background-color: #fff;
      width: 100%;
    }
    &:hover {
      color: #8d0c4a;
    }
    .active {
      color: aqua;
    }
  }
  .copyright {
    background-color: #8d0c4a;
    opacity: 0.7;
    height: 35px;
    align-self: flex-end;
    padding: 7px;
    margin: 0px 3rem;
  }
}
@media (max-width: 500px) {
  .footer {
    a {
      font-size: 2rem;
      margin: 40px;
    }
  }
}
