#header-container {
  color: white;
  background-image: url("./images/ocean_sun.jpg");
  background-size: 50vw 100%;
  text-align: center;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-position: left;
  background-color: black;
  min-height: 650px;
  position: relative;
  padding: 0;
  text-transform: uppercase;
  #page-title {
    font-size: 5em;
    font-weight: 900;
    padding: 60px 60px;

    letter-spacing: 0.1em;
    background-color: black;

    text-align: left;
  }
  #name {
    padding: 30px 0px 3rem 0px;
    font-size: 3.5em;
    font-weight: 700;
  }
}
.main-container {
  background-color: #f5f5f5;
  min-height: 40vh;
}

.sidebar {
  color: white;
}
.line {
  width: 6rem;
  height: 8px;
  /* margin-top: 2rem; */

  right: 40px;
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 916px) {
  #header-container {
    background-image: none;

    #name {
      font-size: 2.2em;
    }
    #page-title {
      font-size: 3rem;
      padding: 0;
      text-align: center;
    }
  }
}
@media (max-width: 390px) {
  #header-container {
    #page-title {
      font-size: 3rem;
      padding: 10px;
    }
  }
}
@media (max-width: 280px) {
  #header-container {
    #page-title {
      font-size: 2rem;
    }
  }
}
