.goTop {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  border: none;
  right: 2rem;
  z-index: 10;
  &:hover {
    background-color: transparent;
  }
  &:hover .svg-inline--fa {
    scale: 1.1;
  }
  .svg-inline--fa {
    width: 30px;
    height: 30px;
    transition: 0.4s;
  }
}
@media (max-width: 390px) {
  .goTop {
    right: 1px;
  }
}
