.games {
  background-color: #212529;
  min-height: 50vh;
  text-transform: uppercase;
  padding: 20px;

  h2 {
    font-size: 3.3rem;
    color: white;
    padding: 20px;
  }
  .card {
    background-color: #212529;
    // background-color: #0d0e10;
    border: none;
    .card-title,
    .card-subtitle {
      font-size: 2.5rem;
      font-weight: 800;
      margin: 20px 0px;
      color: white;
    }
  }
}
