.hobbies-container {
  height: 40vh;
  background-color: #0d0e10;
  font-size: 1.3rem;
  font-weight: 500;

  color: white;
  h3 {
    font-size: 2.8rem;
    font-weight: 800;
    text-align: left;
  }
}
