#tanzania-container {
  min-height: 10vh;
  margin: 10rem 1rem;
  h2 {
    font-size: 2.5rem;
  }
  img {
    object-fit: cover;
  }
  .swiper .swiper-slide {
  }
  .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .tanzania-gallery {
    img {
      object-fit: cover;
    }
    .tanz-slide {
      object-fit: cover;
    }
  }
}
