#about-me-container {
  margin: 50px 1rem;
  position: relative;
  min-height: 70vh;
  color: black;

  h3 {
    font-weight: bold;
  }
  .about-text {
    z-index: 2;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    text-shadow: 2px 2px 8px white;
  }
  #profile-picture {
    object-fit: cover;
    overflow: hidden;

    img {
      width: 300px;
      height: 400px;
      object-fit: cover;
      // margin: 20px;
      // border-radius: 50%;

      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      //   0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  #head h1 {
    font-size: 4rem;

    position: relative;
    text-align: center;
    font-weight: bold;
    z-index: 2;
  }
  #quote {
    display: flex;
  }
  #resume {
    font-weight: bold;
    text-align: right;
    // position: absolute;
    font-size: 1.4rem;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.25s linear;
    &:hover {
      font-size: 1.45rem;
    }
  }
}
@media (max-width: 768px) {
  #about-me-container .profile-background {
    background-color: transparent;
  }
}
