.hire {
  min-height: 70vh;
  background-color: black;
  color: white;
  position: relative;
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  a {
    font-size: 3rem;
    &:hover {
      font-weight: 500;
      color: #8d0c4a;
    }
  }
  .border-container {
    position: absolute;
    height: 30vh;
    width: 30rem;
    /* margin-right: 30px; */
    align-self: flex-end;
    /* margin-top: 70px !important; */
    border-right: 6px solid white;
    border-bottom: 6px solid white;
    right: 30px;
    bottom: 30px;
  }
  .border-container-start {
    height: 30vh;
    // margin-left: 30px;
    // margin-bottom: 70px !important;
    // display: flex;
    // position: absolute;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 30rem;
    display: flex;
    align-items: flex-start;
    border-left: 6px solid white;
    border-top: 6px solid white;
  }
}
@media (max-width: 576px) {
  .hire a {
    font-size: 2rem;
  }
}
