#jobs {
  background-color: #0d0e10;
  min-height: 50vh;
  color: white;
  justify-content: space-evenly;
  // padding: 0px 50px;
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 2.3rem;
    padding: 20px 0px;
  }
  .card-text {
    font-size: 1.4rem;
    padding: 20px;
  }
}

.job-card {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}
