.home-portfolio {
  min-height: 80vh;
  background-color: rgba(0, 0, 0);
  position: relative;
  background-image: url("../../../public/background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .portfolio-container {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 80vh;
    width: 100vw;
  }
  .header {
    cursor: pointer;
    padding: 0 1rem;
    justify-content: center;
    text-decoration: none;
    h2 {
      font-size: 4rem;
      font-weight: bold;

      &:hover {
        color: #8d0c4a;
        &:after {
          background-color: #fff;
          width: 100%;
        }
      }
      &:after {
        background-color: #fff;
        content: "";
        display: flex;
        height: 5px;

        margin-right: 10px;
        margin-bottom: 5px;
        transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
        width: 0px;
      }
    }
    color: white;
    text-transform: uppercase;

    z-index: 10;
    min-height: 7rem;
    display: flex;

    svg {
      // padding-top: 13px;
      display: flex;
      padding-left: 20px;
      align-items: center;
      transition: ease-in-out 0.5s;
      transform: translateX(0px);
      opacity: 0;
    }
    &:hover svg {
      transform: translateX(20px);
      opacity: 1;
    }
  }
  .link {
    font-size: 4rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
  .card {
    border: none;
    background-color: transparent;
    border-radius: 0%;

    // height: 30rem;
    width: 25rem;
    overflow: hidden;
    .card-img {
      width: 100%;
      object-fit: cover;
      filter: grayscale(0.7);
      height: 40vh;
      border-radius: 0%;
    }
  }
  // .card {
  //   border: none;
  //   background-color: transparent;
  //   border-radius: 0%;
  //   &:hover .card-title {
  //     font-size: 3.1rem;
  //   }
  //   .card-link {
  //     text-decoration: none;
  //     font-size: 1rem;
  //   }
  //   .card-img-overlay {
  //     background-color: rgba(0, 0, 0, 0.6);
  //   }
  //   .card-title {
  //     font-size: 3rem;
  //     font-weight: bold;
  //     color: white;
  //     text-transform: uppercase;
  //     transition: ease-in-out 0.5s;
  //   }
  //   img {
  //     object-fit: cover;
  //     // width: 100%;
  //     height: 400px;
  //   }
  // }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#first {
  opacity: 0.7;
  transform: translateX(-70px) translateY(-70px);
}
#second {
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  transform: translateX(60px) translateY(60px);
  // transform: translateX(40px);
  //   opacity: 0.8;
}
#third {
  // transform: translateX(40px) translateY(40px);
  position: absolute;
  z-index: 2;
  opacity: 0.9;
}
// @media (max-width: 768px) {
//   .portfolio {
//     h1 {
//       position: relative;
//     }
//     .card {
//       width: 16rem;
//       height: 50vh;
//     }
//   }
// }

@media (max-width: 414px) {
  .home-portfolio {
    .portfolio-container {
      background-color: rgba(0, 0, 0, 0.8);
      min-height: 80vh;
    }
    .card-container {
    }
    .card {
      width: 13rem;
      height: 30vh;
      justify-items: center;
    }
  }
}
@media (max-width: 992px) {
  .home-portfolio {
    min-height: 100vh;
    .portfolio-container {
      background-color: rgba(0, 0, 0, 0.8);
      min-height: 100vh;
    }
    .header {
      h2 {
        position: absolute;
        order: 2;
        // background-color: rgba(0, 0, 0, 0.7);
        font-size: 3rem;
      }
    }
  }
}
