.tech-container {
  //   min-height: 20vh;
  padding: 3rem 0px;
  // background-color: black;
  background-color: #f2ecec;
  //   display: flex;
  //   flex-wrap: wrap;
  //   background-color: #0d0e10;
  //   background-color: #17020c;
  img {
    margin: 5px;
  }
}
