#navbar {
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: transparent; */
  position: fixed;
  justify-content: flex-end;
  border-radius: 0.375rem;

  z-index: 100;
  top: 0;
  right: 0;
  .link-container {
    &:after {
      background-color: #fff;
      content: "";
      display: flex;
      height: 3px;
      margin-right: 10px;
      margin-bottom: 5px;
      transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
      width: 0px;
    }
  }

  a {
    color: white;
    margin-right: 30px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 1.6vw;
    text-transform: uppercase;

    text-decoration: none;
    &:hover {
      color: #8d0c4a;
      font-weight: 500;
      &:after {
        background-color: #fff;
        width: 100%;
      }
    }
  }
  .btn-close {
    color: white;
    background-color: white;
  }
  .navbar-toggler {
    border: none;
    height: 100%;
  }
  // .link-container a {
  //   &:hover {
  //     &:after {
  //       background-color: #fff;
  //       width: 100%;
  //     }
  //   }
  // }
}

.offcanvas-header {
  justify-content: flex-end;
}

.responsive-navbar-nav {
  color: white !important;
}
// .nav-line {
//   width: 2rem !important;
//   height: 3px;
//   align-self: center;

//   background-color: white;
// }
#navbar a.active {
  color: #8d0c4a !important;

  &:after {
    background-color: #fff;
    width: 100%;
  }
}
.nav-link.active {
  color: #8d0c4a !important;
}
.navbar-toggler {
  border: none;
}
#offcanvasNavbar {
  background-color: rgba(0, 0, 0, 0.98);
}
#nav-image {
  // display: flex;
  // justify-content: center;
  // align-items: center !important;
}
@media (max-width: 768px) {
  .offcanvas-body {
    a {
      color: white;

      margin-top: 30px;

      text-align: center;
      font-size: 5vw;
      text-transform: uppercase;

      text-decoration: none;
      &:hover {
        color: #8d0c4a;
        &:after {
          background-color: #fff;
          width: 100%;
        }
      }
    }
  }
}

.offcanvas-header {
  color: white;
}
