.contact-info {
  min-height: 70vh;
  padding: 2rem;
  text-wrap: wrap;
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  h3,
  a {
    font-size: 2rem;
    font-weight: bold;
  }
  .col {
    // padding: 20px 0px;
  }
}
@media (max-width: 768px) {
  .contact-info {
    h1 {
    }
    h3 {
      font-size: 1.2rem;
    }
    a {
      font-size: 1.2rem;
    }
  }
}
