.portfolio-container {
  min-height: 100vh;

  background-image: url("../../public/background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  #portfolio {
    .h {
      margin: 3rem 0rem;
      font-size: 4rem;
      h1 {
        font-size: 4rem;

        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  @media (max-width: 768px) {
    #portfolio .card .card-text {
      display: none;
    }
    #s-text {
      &.left-align {
        width: 35vh;
      }
    }
  }
}
