* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* font-family: "Kanit", sans-serif; */
}
.App {
  padding: 0 !important;
  background-color: #f2ecec;
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line {
  width: 6rem !important;
  height: 8px;
  top: 30px;
  right: 40px;
  position: absolute;
  background-color: white;
  opacity: 0.8;
  display: flex;
  border-radius: 2px;
}
#jobs .line {
  left: 40px;
}
.hobbies-container .line {
  left: 40px;
}

.line-row {
  position: relative;
  height: 40px;
}
#about-me-container .line {
  background-color: black;
  justify-content: center;
  /* right: 20vw; */
}
#about-me-container .line-row {
  justify-content: center;
  min-height: 10vh;
}
.footer .line {
  width: 70% !important;
  position: static;
  justify-content: center;
}
.footer .line-row {
  justify-content: center;
}
