.details-container {
  min-height: fit-content;
  margin-top: 10vh;
  .svg-inline--fa {
    width: 40px;
    height: 40px;
    display: flex;
  }
  a {
    font-weight: bold;
    font-size: 1.4rem;
  }
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  .image-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
    img {
      object-fit: cover;
      width: 70%;
      height: 80% !important;
    }
    .carousel-caption {
      //   top: 1.5rem;
      background-color: rgb(0, 0, 0, 0.6);

      bottom: auto;
      h5 {
        font-size: 2rem;
        color: white;
        font-weight: bold;
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      position: fixed;
      //
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 50px;
      width: 50px;
    }
  }
}
