.education-card {
  //   border-left: 1px solid white;
  background-color: transparent;
  min-height: 30vh;
  border-radius: 0%;
  color: white;
  //   margin-top: 3rem;
  //
  letter-spacing: 0.1rem;
  .card-header {
    text-align: left;

    display: flex;
    .circle {
      height: 3rem;
      width: 3rem;
      background-color: #36051c;
      border-radius: 50%;
      transform: translateX(-20px);
    }
  }
  .card-title {
    font-size: 3rem;
    margin: 0px 0px 60px 0px;
    text-align: left;
    padding: 0px 50px;
  }
  .card-body {
    border-left: 2px solid white;
  }
  .list-group-item {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 3.5rem;
    text-decoration: dotted;
    color: white;
  }
}
@media (max-width: 576px) {
  .education-card {
    padding: 2.3rem;
    .card-title {
      font-size: 2rem;
      margin-left: 40px;
      padding: 0px 0px;
    }

    .list-group-item {
      font-size: 1.4rem;
    }
  }
}
