.education-container {
  min-height: 100vh;
  background-color: black;
  color: white;

  padding: 3rem 0;
  margin: 0px;
  h2 {
    font-size: 4rem;

    font-weight: bold;
    text-transform: uppercase;
  }
  .card-header {
    background-color: transparent;
  }
}
