.gallery-container {
  // background-color: black;
  // color: white;
  // padding-top: 4rem;
  // padding-left: 1rem;
  // padding-right: 1rem;

  background-color: #f2ecec;
  a {
    font-size: 1.3rem;
    margin-top: 100px;
  }
  .head {
    color: white;
    // margin-bottom: 5rem;

    // background-color: gray;
    text-align: left;
    background-color: black;
    h2 {
      font-size: 21px;
      letter-spacing: 1px;
    }

    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #630834;

    h1 {
      font-size: 62px;
      display: flex;
      justify-content: center;
      font-weight: 800;
    }
    #tech {
      height: 10rem;
      margin-top: 2rem;
      display: flex;

      justify-content: center;
      align-items: flex-end;
      img {
        margin: 5px;
      }
    }
    // width: 100%;
  }
  #goals {
    text-align: left;
    color: white;
    background-color: #0d0e10;

    ul {
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;

      li {
        font-weight: 500;
        // min-width: 20%;
        max-width: 25%;
        min-height: 10rem;
        padding: 1rem;
      }
    }
  }
  .card-container {
    margin: 10rem;
  }
  #gallery-card {
    cursor: pointer;
    margin: 1rem;

    transition: 0.3s ease-in;

    &:hover {
      transform: scale(1.1);
    }
    .card-img {
      object-fit: cover;
      opacity: 0.9;
      // max-height: 234px;
      border-radius: 0;
    }
    .card-title {
      background-color: rgba(0, 0, 0, 0.8);
      margin: 0;
      min-height: 40px;
    }
  }
  #portfolio-modal {
    min-width: 400px;
    min-height: 400px;
  }
  #other {
    // margin-top: 6rem;

    font-size: 1.4rem;
    font-weight: bold;
    padding: 5rem;
    font-size: 1.5rem;
    h3 {
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    .list-group {
      display: flex;

      justify-content: center;
      .list-group-item {
        background-color: transparent;
        border: none;
        &:hover a {
          font-size: 1.5rem;
          transition: 0.2s ease-in-out;
        }
        a {
          color: #630834;
        }
      }
    }
  }
}
