.overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 90vh;
  padding: 100px 0px;
  p {
    font-size: 1.9rem;
  }
  .card {
    min-height: 30rem;
    background-color: transparent;
    margin: 4rem 0rem;
    display: flex;
    border: none;
    overflow: hidden;
    #details-link {
      color: white;
      // text-decoration: none;
      font-size: 1.7rem;

      justify-content: end;
      display: flex;
      height: 13vh;
      font-weight: 500;
      align-items: end;
      &:hover {
        color: #8d0c4a;
        cursor: pointer;
      }
    }
    // &:hover #details-link {
    // }
    .card-img-overlay {
      height: 100%;
      width: 100%;
    }
    .card-img {
      width: 30%;
      position: absolute;
      object-fit: cover;
      // left: 0;
      height: 30rem;
      flex: 1;
      opacity: 0.8;
    }
    .align-right {
      right: 0;
      text-align: end;
    }

    .card-header {
      width: 100%;
      font-weight: 800;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 20px;
      font-size: 3.5rem;
      color: white;
      text-decoration: none;
      z-index: 3;
      // a {

      //   &:hover {
      //     color: #8d0c4a;
      //     cursor: pointer;
      //     &:after {
      //       background-color: #fff;
      //       width: 100%;
      //     }
      //   }
      // }
    }
    .card-body {
      color: white;
      width: 70%;
      height: 80%;
      &.left-align {
        position: absolute;
        right: 0;
      }
      #s-text {
        width: 60%;
        height: 10rem;
        margin-top: 5rem;
      }

      .card-text {
        font-size: 2rem;
        justify-self: flex-end;
        flex: 2;
        width: 100%;
        // position: absolute;
      }
      .card:last-child {
        left: 0;
      }
    }

    .card-link {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
